<%- include('./layouts/header.ejs') %>

    <div class="container">
        <h1>Blog Setup</h1>
        <form action="" method="POSt" enctype="multipart/form-data">
            <div class="row mt-3">
                <div class="col-sm-20">
                    <input type="text" name="blog_title" placeholder="Enter blog name" required />
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-20">
                    <input type="file" name="blog_image" required />
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-20">
                    <textarea name="description" placeholder="Enter description...." required></textarea>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-20">
                    <input type="text" name="name" placeholder="Enter admin name" required />
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-20">
                    <input type="email" name="email" placeholder="Enter email" required />
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-20">
                    <input type="password" name="password" placeholder="Enter password" required />
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-20">
                    <input type="submit" class="btn btn-success" value="Blog Setup" required />
                </div>
            </div>
        </form>
    </div>


    <% if(typeof message !=='undefined' ){ %>
        <p style="color:red;">
            <%=message %>
        </p>
        <% } %>

            <%- include('./layouts/footer.ejs') %>