<%- include('./layouts/header.ejs') %>

<div class="container mb-5 mt-5 p-5 border rounded shadow-lg ">
<h1>Forget Password</h1>
<form action="" method="POST" >
    <input type="email" required placeholder="Enter your email" name="email" class="form-control w-25 mt-3 border-dark">
    <br><br>
    <input type="submit" value="Forget Password" class="btn btn-primary">
</form>

<%
if(typeof message !=='undefined'){%>
<p style="color: red;"><%= message%></p>
<%}%>
</div>
<%- include('./layouts/footer.ejs') %>